# Some datasets in the dataset folder
dataset/PetImages/
dataset/img_align_celeba/

# WANDB logs
wandb/*

# Logdir for GANS
gan-logdir/*

# notebook checkpoints
.ipynb_checkpoints

# vscode settings JSON
.vscode/

# pyc
*.pyc
